* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    background-image: radial-gradient(circle farthest-side, #424c70, #000000);
}

/*Top Container*/
.top-container {
    height: 100vh;
    width: 100%;
    background-image: url(./Subject5.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .8;
    border-radius: 300px;
}

.header-div {
   display:inline-block;
   transform: translateY(100%);
   margin-left: 1000px;
   
}


.header {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    font-size: 20px;
    color: rgb(146, 196, 247);
    letter-spacing: 2px;
}

span {
    color: rgb(52, 101, 236);
}


nav {
    background: rgb(52, 101, 236);
    height: 80px;
    width: 100%;
}

label.nav-logo {
    padding: 0 100px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    border-radius: 3px;
    padding: 7px 13px;
}

a.home, a:hover {
    background: rgb(146, 196, 247);
    transition: .3s;
}

#check {
    display: none;
}

.check-btn {
    color: white;
    font-size: 30px;
    margin-right: 40px;
    line-height: 80px;
    float: right;
    cursor: pointer;
    display: none;
}


/*adding so that navbar adjust on screen size*/
@media (max-width: 1300px) {
    label.nav-logo {
        padding-left: 50px;
        font-size: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .check-btn {
        display: block;
    }
    ul {
        position: fixed;
        height: 100vh;
        width: 100%;
        /*navbar slides from left when clicked*/
        left: -100%;
        top: 70px;
        text-align: center;
        background-color: transparent;
        transition: all .6s;
        z-index: 1;
    }
    nav ul li {
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.home {
        background: none;
        color: rgb(146, 196, 247);;
    }
    /*ability to toggle menu bars*/
    #check:checked ~ ul {
        left: 0;
    }
}

/*About Container*/
.about-container {
    /* width: 100%; */
    padding: 100px 0px;
}

.about-text {
    width: 600px;
    color: white;
}

.about-text h2 {
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.about-section {
    /* width: 1130;
    max-width: 95%; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text p {
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
    color: rgb(146, 196, 247);
}
